<div class="as-seen-logo-wrapper"> 
  
    <div class="section">
     <div class="text-center  ">
     <h3 >{{ section.settings.as-seen-logo-heading }} </h3>
   </div>
     <div class="as-seen-logo">
 {%- for block in section.blocks -%}
 
         <img src="{{ block.settings.image | img_url: 'master' }}" alt=""> 
       
  {% endfor %} 
        </div>
       </div>
</div>





{% schema %} 
   {
  "name": "As Seen On Logo",
  "tag": "section",
  "class": "as-seen-logo",
      "settings": [
        {
          "type": "text",
          "id": "as-seen-logo-heading",
          "default": "As Seen On Logo",
          "label": "Title"
        }
      ],
  "blocks": [
    {
      "type": "column",
      "name": "As Seen On Logo", // Changed the block name to a string

      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        } 
        
      ]
    }
  ],

  "presets": [
    {
      "name": "As Seen On Logo"
    }
  ]
}

{% endschema %}